<!DOCTYPE html>
<html lang="fr">
    <!-- <head> -->
    <%- include('components/head') -%>
    <!-- </head> -->
    <body id="home">
        <%- include('components/loader') -%>
        <%- include('components/header') -%>

        <!-- start main slider -->
        <div class="main_slider_area">
            <div class="container-fluid">
                <div class="row">
                    <div class="main_slider" id="slider_rev">
                        <div class="fullwidthbanner-container" >
                            <div class="fullwidth_home_two_banner">
                                <ul>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="img/rev-slider/slide-1.png" alt="slide" >
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            Réservez dans les meilleurs hôtels
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="255" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            du monde
                                        </div>
                                        <div class="tp-caption lfb carousel-caption-inner" data-x="105" data-y="313" data-speed="1300" data-start="1700" data-easing="easeInOutBack" 
                                            style="background: #fda01c; padding: 10px; cursor: pointer;">
                                            <a href="#" class="" style="background: #fda01c; border-radius: 0; color: black; display: inline-block; font-size: 18px; padding: 8px 34px; text-transform: uppercase; border: 1px solid #9e811a;">Explorez</a>
                                        </div>
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="img/rev-slider/slide-2.png" alt="slide" >
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            Trouvez les meilleures offres
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="255" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            pour vos vacances
                                        </div>
                                        <div class="tp-caption lfb carousel-caption-inner" data-x="105" data-y="313" data-speed="1300" data-start="1700" data-easing="easeInOutBack" 
                                            style="background: #fda01c; padding: 10px; cursor: pointer;">
                                            <a href="#" class="" style="background: #fda01c; border-radius: 0; color: black; display: inline-block;  font-size: 18px; padding: 8px 34px; text-transform: uppercase; border: 1px solid #9e811a;">Explorez</a>
                                        </div>
                                    </li>
                                    <li data-transition="random" data-slotamount="7" data-masterspeed="1000">
                                        <img src="img/rev-slider/slide-3.png" alt="slide" >
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="197" data-speed="1200" data-start="1100" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            Trouvez les meilleures offres
                                        </div>
                                        <div class="tp-caption large_black sfr" data-x="105" data-y="255" data-speed="1500" data-start="1400" data-easing="easeInOutBack"
                                            style="font-family: 'Playfair Display', serif; font-size: 48px;color: #eb0acb; text-shadow: #6d2880 0.1em 0.1em 0.2em; margin-bottom: 23px; text-transform: uppercase; line-height: 40px;">
                                            pour vos vacances
                                        </div>
                                        <div class="tp-caption lfb carousel-caption-inner" data-x="105" data-y="313" data-speed="1300" data-start="1700" data-easing="easeInOutBack" 
                                            style="background: #fda01c; padding: 10px; cursor: pointer;">
                                            <a href="#" class="" style="background: #fda01c; border-radius: 0; color: black; display: inline-block;  font-size: 18px; padding: 8px 34px; text-transform: uppercase; border: 1px solid #9e811a;">Explorez</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end main slider -->

        <!-- start welcome section -->
        <section class="another_facitilies_area">
            <div class="container">
                <div class="another_facitilies clearfix padding-bottom-100">
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single_facities">
                            <a href="#"><img src="https://fakeimg.pl/300/" alt=""></a>
                            <h6>Restaurant</h6>
                            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia. vitae molestie interdum.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single_facities">
                            <a href="#"><img src="https://fakeimg.pl/300/" alt=""></a>
                            <h6>Divertissements</h6>
                            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.  vitae molestie interdum.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single_facities">
                            <a href="#"><img src="https://fakeimg.pl/300/" alt=""></a>
                            <h6>Réservation</h6>
                            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.  vitae molestie interdum.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 col-sm-3">
                        <div class="single_facities">
                            <a href="#"><img src="https://fakeimg.pl/300/" alt=""></a>
                            <h6>BAR</h6>
                            <p>Semper ac dolor vitae accumsan. Cras interdum hendrerit lacinia.  vitae molestie interdum.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end welcome section -->

         <!-- start Hotel Facilities section -->
        <% if (isDisplayable) { %>
            <section class="select_room_area padding-top-90">
            <div class="container">
                <div class="row">
                    <div class="select_room clearfix">
                        <div class="section_title nice_title content-center">
                            <h3>Choisissez votre hôtel</h3>
                        </div>
                        <div class="select_room_content clearfix">
                            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                                <div class="room_thumb">
                                    <a href="/room?id=<%= preferedRooms[preferedKeys[0]].id %>">
                                        <img style="width: 100%;" 
                                            src="<%= preferedRooms[preferedKeys[0]].images[0].url %>" 
                                            alt="<%= preferedRooms[preferedKeys[0]].images[0].alt %>">
                                        <div class="room_details">
                                            <div class="about_room floatleft">
                                                <div class="room_quality floatleft">
                                                    <h5><%= preferedRooms[preferedKeys[0]].name %></h5>
                                                </div>
                                                <div class="room_rent floatleft">
                                                    <p><%= preferedRooms[preferedKeys[0]].price %> GNF<span> / nuit</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-sx-12">
                                <div class="room_thumb small_room_thumb margin-bottom-30">
                                    <a href="/room?id=<%= preferedRooms[preferedKeys[1]].id %>" style="width: 100%;">
                                        <img style="width: 100%;" 
                                            src="<%= preferedRooms[preferedKeys[0]].images[1].url %>" 
                                            alt="<%= preferedRooms[preferedKeys[0]].images[1].alt %>">
                                        <div class="room_details">
                                            <div class="about_room floatleft">
                                                <div class="room_quality floatleft">
                                                    <h5><%= preferedRooms[preferedKeys[1]].name %></h5>
                                                </div>
                                                <div class="room_rent floatleft">
                                                    <p><%= preferedRooms[preferedKeys[1]].price %> GNF<span>/ nuit</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                                <div class="room_thumb small_room_thumb">
                                    <a href="/room?id=<%= preferedRooms[preferedKeys[2]].id %>" style="width: 100%;">
                                        <img style="width: 100%;" 
                                            src="<%= preferedRooms[preferedKeys[0]].images[1].url %>" 
                                            alt="<%= preferedRooms[preferedKeys[0]].images[1].alt %>">
                                        <div class="room_details">
                                            <div class="about_room floatleft">
                                                <div class="room_quality floatleft">
                                                    <h5><%= preferedRooms[preferedKeys[2]].name %></h5>
                                                </div>
                                                <div class="room_rent floatleft">
                                                    <p><%= preferedRooms[preferedKeys[2]].price %> GNF<span>/ nuit</span></p>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-sx-12">
                                <div class="view_all_rooms text-center  padding-bottom-90  padding-top-90">
                                    <a href="/rooms" class="btn btn-warning">Voir tous nos hôtels</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            </section>
        <% } %>
        <!-- end Hotel Facilities section -->
        
        <!-- start Hotel Showcase section -->
        <section class="hotel_showcase_area margin-bottom-128 margin-top-110">
            <div class="container-fluid">
                <div class="row">
                    <div class="hotel_showcase">
                        <div class="section_title nice_title content-center">
                            <h3>Galérie</h3>
                        </div>
                        <div class="section_content">
                            <div class="showcase_slider">
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                                <div class="item">
                                    <a href="/galery"><img src="https://fakeimg.pl/300/" alt="img">
                                        <i class="fa fa-search"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- end Hotel Showcase section -->

        <%- include('components/footer') -%>
    </body>
</html>