<!DOCTYPE html>
<html lang="fr">
    <!-- <head> -->
    <%- include('components/head') -%>
    <!-- </head> -->
    <body id="room_detail_page">
        <%- include('components/loader') -%>
        <%- include('components/header') -%>

        <!-- start breadcrumb -->
        <section class="breadcrumb_main_area margin-bottom-30">
            <div class="container-fluid">
                <div class="row">
                    <div class="breadcrumb_main nice_title">
                        <h2><%= room.name %></h2>
                        <!-- special offer start -->
                        <div class="special_offer_main">
                            <div class="container">
                                <div class="special_offer_sub"></div>
                            </div>
                        </div>         
                        <!-- end offer start -->
                    </div>
                </div>
            </div>            
        </section>
        <!-- end breadcrunb -->

        <div class="room_detail_main margin-bottom-55">
            <div class="container">
                <div class="row">
                    <div class="col-lg-9 col-md-9">
                        <div class="deluxe_room_detail">
                            <div class="section_title content-left margin-bottom-5">
                                <h5> <%= room.name %> <span class="price floatright"><%= room.price %> GNF</span> <br> <span class="day floatright">/ nuit</span></h5>
                            </div>
                            <div class="section_content">
                                <p> <%= room.country %> </p>
                                <div class="showcase">
                                    <div class="section_description">
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="clearfix" style="">
                                                    <ul id="image-gallery" class="gallery list-unstyled cS-hidden">
                                                    <!-- <ul id="vertical" class="gallery list-unstyled"> -->
                                                        <% for (let image of room.images) { %>
                                                            <li data-thumb="<%= image.url %>">
                                                                <img alt="slider" src="<%= image.url %>" />
                                                            </li>
                                                        <% } %>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="facilities_name clearfix margin-bottom-40 margin-top-65">
                                                <div class="col-lg-12 col-md-12">
                                                    <div class="section_title margin-bottom-35 padding-bottom-25 border-bottom-whitesmoke">
                                                        <h5>Descritpion</h5>
                                                    </div>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 no-padding-left">
                                                    <ul class="single_facilities_name clearul">
                                                        <li>
                                                            <img src="img/home-facilities-icon-one.png" alt="">
                                                            <p>Petit déjeuner</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <ul class="single_facilities_name clearul">
                                                        <li>
                                                            <img src="img/home-facilities-icon-four.png" alt="">
                                                            <p>Room service</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <ul class="single_facilities_name clearul">
                                                        <li>
                                                            <img src="img/home-facilities-icon-five.png" alt="">
                                                            <p>Télévision</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
                                                    <ul class="single_facilities_name clearul">
                                                        <li>
                                                            <img src="img/home-facilities-icon-twelve.png" alt="">
                                                            <p>Accès Wi-fi</p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-12 col-md-12">
                                                <div class="room_facilities_des padding-top-50 padding-bottom-50 border-bottom-whitesmoke border-top-whitesmoke">
                                                    <p>
                                                         <%= room.description %>
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-3 stickied margin-top-20">
                        <!-- start hotel booking -->
                        <div class="col-lg-12 col-md-12 col-sm-4">
                            <div class="hotel_booking_area clearfix">
                                <div class="hotel_booking">
                                    <form id="form1" role="form" action="#" class="">
                                        <div class="col-lg-12 col-md-12">
                                            <div class="room_book">
                                                <h6>Réserver vos</h6>
                                                <p>Chambres</p>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12">
                                            <div class="input-group border-bottom-dark-2">
                                                <input class="date-picker" id="datepicker" placeholder="Départ" type="text"/>
                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <div class="form-group col-lg-12 col-md-12">
                                            <div class="input-group border-bottom-dark-2">
                                                <input class="date-picker" id="datepicker1" placeholder="Arrivée" type="text"/>
                                                <div class="input-group-addon"><i class="fa fa-calendar"></i></div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <div class="row">
                                                <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                                    <div class="input-group border-bottom-dark-2">
                                                        <select class="form-control" name="room" id="room">
                                                          <option selected="selected" disabled="disabled">1 Chambre</option>
                                                          <option value="1">1 Chambre</option>
                                                          <option value="2">2 Chambres</option>
                                                          <option value="3">3 Chambres</option>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                                    <div class="input-group border-bottom-dark-2">
                                                        <select class="form-control" name="room" id="room">
                                                            <option selected="selected" disabled="disabled">1 Personne</option>
                                                            <% for (var i = 1; i < room.maxPersons; i++ ) { %>
                                                                <option value="<%= i %>"><%= i %> Personne<%= i > 1 ? 's' : '' %>  </option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                                    <div class="input-group border-bottom-dark-2">
                                                        <select class="form-control" name="room" id="adult">
                                                          <option selected="selected" disabled="disabled">1 Adulte</option>
                                                          <% for (var i = 1; i < room.maxAdults; i++ ) { %>
                                                            <option value="<%= i %>"><%= i %> Adulte<%= i > 1 ? 's' : '' %>  </option>
                                                          <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="form-group col-lg-6 col-md-6 icon_arrow">
                                                    <div class="input-group border-bottom-dark-2">
                                                        <select class="form-control" name="room" id="child">
                                                            <option selected="selected" disabled="disabled">1 Enfant</option>
                                                            <% for (var i = 1; i < room.maxChildre; i++ ) { %>
                                                                <option value="<%= i %>"><%= i %> Enfant<%= i > 1 ? 's' : '' %>  </option>
                                                            <% } %>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 col-md-12">
                                            <a class="btn btn-warning btn-md floatright">Réserver</a>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <!-- end hotel booking -->
                    </div>
                </div>
            </div>
        </div>

        <%- include('components/footer') -%>
    </body>
</html>